nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    background-color: rgb(220, 238, 240);
    min-height: 150px;
    align-items: center;
}
    
nav ul li a {
    display: block;
    background: rgb(58, 182, 240);
    padding: 28px 40px 28px 80px;
    position: relative;
    margin: 0 10px 0 0; 
    font-size: 20px;
    text-decoration: none;
    color: #fff;
}

nav ul li a:after {
    content: "";
    border-top: 40px solid transparent;
    border-bottom: 40px solid transparent;
    border-left: 40px solid rgb(58, 182, 240);
    position: absolute; right: -40px; top: 0;
    z-index: 1;
}
      
nav ul li a:before {
    content: "";  
    border-top: 40px solid transparent;
    border-bottom: 40px solid transparent;
    border-left: 40px solid #d4f2ff;
    position: absolute; left: 0; top: 0;
}
    
nav ul li:first-child a {
    border-top-left-radius: 4px; 
    border-bottom-left-radius: 4px;
}

nav ul li:first-child a:before {
    display: none; 
}
       
nav ul li:last-child a {
    padding-right: 80px;
    border-top-right-radius: 10px; border-bottom-right-radius: 10px;
}

nav ul li:last-child a:after {
    display: none; 
}
      
nav ul li a:hover,
nav ul li a:focus {
    outline: none;
    background: #0e2ddd;
}
nav ul li a:hover:after,
nav ul li a:focus:after {
    border-left-color: #0e2ddd;
}